
@media (max-width: 2600px ) and (min-width: 1440px) 
  .col 
    flex-basis: 0%
  .row 
    justify-content: space-around

@media (max-width: 2600px ) and (min-width: 425px )
  .image
    max-width: 421px   
  
@media screen and ( max-width: 1600px )
  .row 
    justify-content: space-between  
  
@media screen and ( max-width: 1500px ) 
  .nav__item
    font-size: 12px


@media screen and ( max-width: 1440px ) 
  .section-title__heading
    font-size: 19.5px

  .logo 
    
    margin-left: -26px

  .nav
    margin: -2px -18px 0px 0px  

  .button--call
    margin: 0px -5px 0px -4px

  .instagram__link 
    margin: 40px -3px 0px 0px

  .hero__content 
    margin: -25px 0px 0px 35px 

  .hero__scroll-down 
    margin: 0px 0px -26px -2px
    min-width: 17.9rem
    min-height: 7.4rem



  .card
    &__title
      margin-bottom: 10px
    &__text 
      padding: 25px 32px



  .types__card--1
    margin: -2px 0px 0px -6px

  .types__card--2
    margin: -1px -5px 0px 0px

  .types__card--3
    margin: -1px -9px 0px 6px


  .types__section-title--design
    margin-bottom: 8px
    padding-top: 10px  

  .types__card--4
    margin: -2px 2px 0px -6px

  .types__card--5
    margin: -3px 1px 0px 1px

  .types__card--6
    margin: -3px -6px 0px 6px

    
  .card__list--design
    padding: 0 0 32px 16px
    margin: -1px 0px 0px -2px
    font-size: 13px   



  .card__pricetag--1
    padding: 16px 82px 18px 32px
    

  .card__pricetag--2
    padding: 18px 78px 15px 33px;

  .card__pricetag--3
    padding: 18px 78px 15px 33px
    margin: 0px 0px -5px 0px  

@media ( max-width: 1440px ) and ( min-width: 1220px )
  .row
    justify-content: space-evenly

  .col 
    margin-right: 10px

@media ( max-width: 1220px ) and ( min-width: 1024px )
  .row
    display: flex
    flex-direction: column
    align-items: center 


@media screen and ( max-width: 1380px ) 
  .nav
    display: none   

     
      
@media screen and ( max-width: 1024px )  
  
  .hero
    &__instagram
      display: none
    &__content
      margin-left: 0
  .menu
    justify-content: space-between  

  .row
    display: flex
    flex-direction: column
    align-items: center 

  .col
    padding-bottom: 68px



@media screen and ( max-width: 768px )    
  
  .nav
    display: none
  .hero
    &__instagram
      display: none
    &__content
      margin-left: 0
      
  .contacts
    &__button
      display: none   


@media screen and ( max-width: 760px )  
  .row
    flex-direction: column
    align-items: center
  .types
    &__card
      margin-bottom: 5rem
  .card
    &__text
      margin-left: 0        

@media screen and ( max-width: 660px ) 
  .contacts
    &__phone
      margin-right: 0
      color: $light
      text-decoration: none
  
  .hero
    &__text
        
      margin-bottom: 2.28rem
    &__content
      max-width: auto
    &__button
      display: block
      min-width: 22.86rem
      margin-bottom: 1.85rem
    &__scroll-down
      display: none  

@media screen and ( max-width: 586px ) 
  .title
    font-size: 2rem
    
  .hero
    &__text
      font-size: 20px



@media screen and ( max-height: 525px ) 
  .hero
    &__scroll-down
      display: none

@media screen and ( max-width: 425px ) 
  .types__card--1
    margin: 13px 4px 0px 8px

  .types__card--2
    margin: 0 
    left: 0

  .types__card--3
    margin: 0 
    left: 0

  .types__card--4
    margin: 0 
    left: 0 

  .types__card--5
    margin: 0 
    left: 0 

  .types__card--6
    margin: 0 
    left: 0 

  .image--style
    max-width: 100%
    margin: 0 auto
    left: 0

  .card__text 
    margin: 0


  .header
    padding: 21px 0

  .phone
    font-size: 0.86rem
    margin: 0 auto

  .logo
    margin: 0px -11px
    font-size: 0.8rem

  .title
    margin: 6px -8px -4px -8px
    font-size: 1.6rem
    
  .hero
    padding-top: 457px
    height: 533px
    &__content
      margin-top: -356px
      margin-left: -1px
     
    &__text
      margin-top: 21px
      margin-left: -10px
      font-size: 17px
      margin-bottom: 52px
 


  .hero__button 
    min-width: 24.7rem
    margin-bottom: 24px

  .button--calculation
    margin: 0px 0px 25px -12px
    font-size: 12px
 
  .button--request
    padding: 18px 0px 18px
    margin: 0px -10px -5px
    font-size: 12px

@media screen and ( max-width: 425px )
  .hero 
    padding-top: 457px
    height: 533px

  .hero__button 
    min-width: 106%

  
  .section-title__heading 
    font-size: 21.5px


  .image--style-1 
    
    max-width: 111%
    margin-left: -16px
    left: 0

  .card__text 
    margin: -146px 55px 0px -17px  

  .card__title 
    font-size: 14.69px

  .card__list
    padding: 0px 0px 0px 10px
    font-size: 10.7px
    line-height: 21px

  .card__pricetag
    font-size: 15px
    padding: 11px 34px 8px 34px
    margin: -11px 0px 0px -32px
    left: 32px
    bottom: 0

  .image--style-2
    margin: -6px 0px -1px -9px
    width: 108%

  .card__text--style-2 
    margin: -151px 59px 0px -9px

  .card__pricetag--style-2 
    margin: 0px 0px 0px 0px
    padding: 13px 30px 6px 31px
    left: 0

  .card__text--style-3
    margin: -149px 56px 0px -9px

  .card__pricetag--style-3
    margin: 0px 0px 1px 1px
    left: 0
    padding: 10px 28px 10px 28px




  .image--style-3  
    margin: -6px 0px -1px -9px
    width: 108%





  .section__text--style-1
    font-size: 14.5px
    line-height: 20.5px
    width: 100%




  .image--style-4
    margin: -11px 0px 0px -3px
    width: 104%
  .card__text--style-4
    margin: -138px 60px 0px -10px
  .card__pricetag--4
    margin: 0px 28px 5px 14px
    left: -16px
    padding: 11px 47px 12px 49px
    bottom: -43px





  .image--style-5
    margin: 29px 0px 0px -10px
    width: 106%
  .card__text--style-5  
    margin: -145px 60px 0px -10px
    padding: 20px 0px 59px 32px
  .card__pricetag--5  
    margin: 0px 0px -4px 44px
    left: -44px
    padding: 12px 48px 12px 44px
    bottom: -6px









  .image--style-6
    margin: 0px 0px 0px -10px
    max-width: 106%  
  .card__text--style-6
    margin: -144px 60px 0px -11px
    padding: 17px 0px 66px 33px
    line-height: 21px
  .card__pricetag--6
    left: -10px
    margin: 0px 0px 0px 11px
    bottom: 0
    padding: 9px 47px 9px 44px


  .button
    &:hover
      cursor: none
  .button--primary
    &:hover
      box-shadow: 0px 5px 15px rgba($primary, 0.2)  
      color: $light 
  .button--outline
    &:hover
      transition: none
      box-shadow: none
      background-color: transparent
      color: $light

          


